{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

<div class="ballroom4">

  <div class="container">

    <div class="row row-padding">

        <div class="col-md-4 col-md-offset-1">
          <h1>Register</h1>

          <form action="/register" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}

            <label for="email">Email Address</label>
            <input id="email" class="form-control" name="email" type="text" value=""><br>
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password" value=""><br>
            <label for="password_confirm">Retype Password</label>
            <input id="password_confirm" class="form-control" name="password_confirm" type="password" value=""><br>
            <input id="submit-register" class="btn btn-lg" name="submit" type="submit" value="Register">

          </form>
        </div>
    </div>

  </div>
</div>

{% endblock %}
