.breakdance2 {

	background: black url('/static/images/breakdance.jpg') no-repeat;
	background-size:contain;
	height:600px;
	max-width:100%;
	color:white;
	background-position: center;

}

.row-padding {

	padding-top:100px

}
