.ballroom4 {

  background: black url('/static/images/ballroom4.jpg') no-repeat;
  background-size:contain;
  height:600px;
  max-width:100%;
  color:white;
  background-position: 75% 65%;

}

#submit-register {

  background-color: $main-color;

}
