<html>
	<head>

		<title>MyDanceMoves.com</title>
		{% assets "css_main" %}
	      <link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css">
	    {% endassets %}

		{% block head %}{% endblock %}
	</head>

	<body class="base-body">
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">MyDanceMoves.com</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li id="home"><a href="/">Home</a></li>
	            <li id="movelist"><a href="/movelist">Your Move List</a></li>
	            <li id="lessonlist"><a href="/lessonlist">Your Lesson List</a></li>
	            <li id="about"><a href="/about">About</a></li>
	            <li id="contact"><a href="/contact">Contact</a></li>
	            <li id="login"><a href="/login">Login</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>

	    <div class="container" id="main-container">

			{% block body %}{% endblock %}		

	    </div>

		<div id="footer" class="footer">
	      <img src="{{ url_for('static', filename = 'images/dancers.png') }}" alt="Tea Dance" width="100" height="100"/>
	      <p>&copy; Shining Knight Ltd 2014</p>
	    </div>	    

		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

		{% block extra_js %}{% endblock %}

	</body>
</html>