{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

<br>

<h1>Please login</h1>

<br>

<div class="row">
	<div class="col-lg-6">
		<form role="form" action="/login" method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" name="username"><br>
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password">
				<br>
				<button type="submit" class="btn btn-lg btn-primary">login</button>
				<br><br>

				<p>Don't have an account? <a href="/register">register here</a></p>
			</div>
		</form>
	</div>
</div>

{% endblock %}


{% block extra_js %}

<script>

	$("#login").addClass("active");	

</script>

{% endblock %}