{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

   <div class="">

        <br><br>   

    	<div class="row">

            <div class="col-md-12 content-div">
              <h1 class="centre-text">My Move List</h1>

        	  <table id="hor-minimalist-a">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Video Link</th>
                    <th>Awesome Move</th>
                    <th>Edit</th>
                </tr>

                {% for i in move_list %}
                    <tr>
                        <td>{{ i["Name"] }}</td>
                        <td>{{ i["Category"] }}</td>
                        <td>{{ i["Tags"] }}</td>
                        <td>{{ i["Video_link"] }}</td>
                        <td><img id="fav-star" src="{{ url_for('static', filename = 'images/not-fav.png') }}" alt="Favourite Star" width="20" height="20"/></td>
                        <td><a href="/editmove" class="btn btn-primary">edit move</a></td>
                    </tr>
                {% endfor %}
        	  </table>

              <a href="/addmove" class="btn btn-primary add-new-move"><span class="glyphicon glyphicon-plus"></span> add new move</a>
              <br><br>
            </div>
    	</div>
        <br>
    </div>

{% endblock %}

{% block extra_js %}

<script>

	$("#movelist").addClass("active");	

    // $(document).ready(function(){

    //     $("#fav-star").click{
            
    //     }

    // }); 

</script>

{% endblock %}