{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

<div class="breakdance2">

	<div class="container">

		<div class="row row-padding">
			<div class="col-md-6 col-md-offset-3 black-box">
				<h1>About DanceMoveTracker.com</h1>

				<br>

				<p>
				DanceMoveTracker.com allows you to keep track of the dance moves you have learnt, would like to learn or just think are awesome. You can also link to or upload videos of those moves.
				</p>
			</div>
		</div>

	</div>

</div>

{% endblock %}

{% block extra_js %}

<script>

	$("#about").addClass("active");

</script>

{% endblock %}
