{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

<br><br>

<div class="row white-font">

	<div class="col-md-6 col-md-offset-3 content-div">

		<h1>Add new lesson</h1>

		<br>

		<form role="form" action="/addlesson" method="post">
			<div class="form-group">
				<label for="lessondate">Date</label>
				<input type="text" class="form-control" name="lessondate"><br>
				<label for="category">Category</label>
   			<select class="form-control" name="category">
   			  <option></option>
    		  <option>Lindyhop</option>
    		  <option>Jive</option>
    		  <option>Hip-hop</option>
    		  <option>Tango</option>
    		</select><br>
				<label for="lessonteachers">Teachers</label>
				<input type="text" class="form-control" name="lessonteachers"><br>
				<label for="videolink">Video Link</label>
				<input type="url" class="form-control" name="videolink"><br>

				<br><br>

				<button type="submit" class="btn btn-success">add lesson</button>
			</div>
		</form>

	</div>

	<div class="col-md-6" id="video">

	</div>

</div>

{% endblock %}

{% block extra_js %}

<script>
	/*document.getElementById('lesson-video-link').oninput = function() {

		//alert(generate());

	    function generate() {
	        var input = document.getElementById('lesson-video-link').value;
	        return input.replace(/(?:https:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?([0-9a-zA-Z]+)/g, '<iframe width="420" height="345" src="//www.youtube.com/embed/$1" frameborder="0" allowfullscreen></iframe>');
	    }

	    document.getElementById('video').innerHTML = generate();
	} */
</script>

{% endblock %}
