<html>
	<head>

		<title>DanceMoveTracker</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% assets "css_main" %}
	      <link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css">
	  {% endassets %}

	    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

		{% block head %}{% endblock %}

	</head>

	<body class="base-body">
		<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	      </div>
				<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="movelist"><a href="/movelist">Moves</a></li>
            <li id="lessonlist"><a href="/lessonlist">Lessons</a></li>
            <li id="about"><a href="/about">About</a></li>
            <li id="contact"><a href="/contact">Contact</a></li>
              {% if current_user.is_authenticated() %}
                  <li><a id="logout" href="/logout">Logout</a></li>
              {% endif %}
              {% if not current_user.is_authenticated() %}
                  <li><a id="login" href="/login">Login</a></li>
                  <li><a id="register" href="/register">Register</a></li>
              {% endif %}
          </ul>
				</div>
      </div>
		</nav>

		{% block body %}{% endblock %}

		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul>
					{% for message in messages %}
							<li>{{ message }} </li>
					{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>

		<div id="footer" class="footer">
	      <img style="margin-top:5px" class="icon" src="{{ url_for('static', filename = 'images/dancers.png') }}" alt="Tea Dance" width="50" height="52"/>
				<a style="float:right;color:black" href="http://www.freepik.com/free-vector/silhouettes-in-action-vector-set_722119.htm">Icons designed by Freepik</a>
	  </div>

		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{{ url_for('static', filename = 'javascripts/bootstrap.js') }}"></script>

		{% block extra_js %}{% endblock %}

	</body>
</html>
