@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

$font-family-base:'Montserrat',arial,sans-serif;
$navbar-default-link-color: white;
$navbar-default-bg: $main-color;

#main-container {

	min-height: 100%;

}

.base-body {

	padding-top: 50px;
	background-size: 100% 100%;
	background-color:#cccccc;

}

.icon {

	padding: 2px;

}

.content-div {

	color: black;
	background-color: white;
	border: 1px solid grey;

}

#footer {

  width: 100%;
  height: 60px;
  background-color: $main-color;

}

#header {

	background-color: $main-color;

}

@media (min-width:1024px) {
	.navbar > .container {
	    text-align: center;
	}
	.navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}
	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
	}
}
