.black-box {

  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color:white;

}

.bg-main-color {

  background-color:$main-color;

}

.normal-button {

  @extend .bg-main-color;

  color:white;

}
